
<div class="container">

  <div class="home">
    <h3>Meu Portfólio</h3>
  </div>



  <div class="navbar">
    <a href="https://www.linkedin.com/in/carlos-cavalcanti-/">LinkedIn</a>
    <a href="https://github.com/htu6n7yi">GitHub</a>

    <div class="hamburger" (click)="toggleMenu()">&#9776;</div>
    <div class="menu" [ngStyle]="{'display': isMenuHidden ? 'none' : 'flex'}">
      <a href="https://www.linkedin.com/in/carlos-cavalcanti-/">LinkedIn</a>
      <a href="https://github.com/htu6n7yi">GitHub</a>
    </div>


  </div>

</div>
<div class="line"></div>
