<div class="container">
  <div class="card__description">
    <h2 class="card__title">Apresentação</h2>
    <p class="card__text">Olá, meu nome é <strong>Carlos</strong>, sou estudante de <strong>Sistemas de Informação</strong> e desenvolvedor web. Estou sempre em busca de novos desafios e oportunidades para aprender e crescer na área de tecnologia.</p>
    <p class="card__text">Atualmente, estou focado em aprimorar minhas habilidades em desenvolvimento front-end e back-end, com o objetivo de me tornar um desenvolvedor full-stack.</p>
    <p class="card__text">Estou sempre aberto a novas oportunidades e desafios. Se você está procurando um desenvolvedor dedicado e apaixonado por tecnologia, entre em contato!</p>
    <button> Baixar CV </button>
  </div>
</div>
