
.card__image{
  display: flex;
  flex-direction: row;
  background-image: url('../../../assets/techn-removebg-preview.png');
  background-repeat: no-repeat;
  background-position: left;
  margin-left: -150px;
}

.photoCard > img{
  border: 3px double #8C52FF;
  width: 250px;
  border-radius: 20px;
}

.card__text{
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-radius: 15px;
  width: 170px;
  height: 190px;
  margin-left: -3rem;
  margin-top: 160px;
  padding: 1.5rem;
  padding-top: 0.5rem;
  background-color: #CED1F4;
  color: #8C52FF;
  font-size: 18px;
  box-shadow: #8C52FF 0px 0px 10px 0px;
}

.card__text > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0
}

li{
  list-style: none;

}

ul{
  padding-left: 0;
  margin-bottom: 3rem;
}
<<<<<<< HEAD
=======


>>>>>>> 0d517d94d422fc1ae5a9e34233d7e167b9aed719
 @media (max-width: 480px) {
  .card__image{
    background-image: url('../../../assets/techn-removebg-preview.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0;
  }

  .photoCard > img{
    width: 82%;
    margin-left: 1rem;
  }

  .card__text{
    width: 40%;
    height: 233px;
    margin-right: 2rem;
    margin-top: 0;
    padding: 1rem;
    margin-top: 30%;
  }}
