
.card__image{
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/techn-removebg-preview.png');
  background-repeat: no-repeat;
  background-position: left;
  margin-left: -150px;
}

.photoCard > img{
  border: 3px double #8C52FF;
  width: 250px;
  border-radius: 20px;
}

.card__text{
  display: flex;
  justify-content: left;
  flex-direction: column;
  border-radius: 15px;
  width: 80%;
  height: auto;
  margin-left: 0;
  margin-top: 160px;
  padding: 1.5rem;
  padding-top: 0.5rem;
  background-color: #CED1F4;
  color: #8C52FF;
  font-size: 18px;
  box-shadow: #8C52FF 0px 0px 10px 0px;
}

.card__skill{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0.3rem;
  min-width: 100%;
  margin-top: 1rem;
}

.card__icons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.3rem;
}

.card__icons > img {
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: space-around;
  justify-content: center;
}

.card__icons > h5 {
  font-size: 14px;
  color: #8C52FF;
  margin-top: 0;

  text-align: center;
  width: 100%;
}


.card__text > h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0
}


 @media (max-width: 480px) {
  .card__image{
    background-image: url('../../../assets/techn-removebg-preview.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
  }

  .photoCard  {
    display: flex;
    justify-content: center;

  }

  .photoCard > img{
    width: 81%;
    margin-left: 0;
  }

  .card__text{
    width: 75%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 1rem;
    margin-top: 15%;

  }}

  @media (min-width: 1310px){
    .card__text{
              width: 31%;
        margin-left: 22rem;
        margin-top: -19.5rem;
    }

    .card__image{
      margin-left: 10rem;
    }
  }

  @media (min-width: 481px) and (max-width: 1309px){
    .photoCard{
      width: 40%;
      margin-right: 0;
      margin-left: 2rem;
    }

    .card__text{
      width: 45%;
      margin-top: 0;
    }

    .card__image{
      flex-direction: row;
      margin: 0;
      margin-top: 3rem;
      gap: 1rem;
    }
  }
