<div class="card__image">
  <div class="photoCard"><img src="../../../assets/foto-perfil-removebg-preview.png" alt=""></div>
  <div class="card__text">
    <h3>Principais Tecnologias usadas:</h3>

    <div class="card__skill">
      <div class="card__icons">
        <img src="https://static-00.iconduck.com/assets.00/typescript-plain-icon-256x256-ypojgpyj.png" alt="">
        <h5>TypeScript</h5>
      </div>
      <div class="card__icons">
         <img src="../../../assets/OIP-removebg-preview.png" alt="">
         <h5>CSS</h5>
      </div>
      <div class="card__icons">
         <img src="../../../assets/baixados-removebg-preview.png" alt="">
         <h5>Angular</h5>
      </div>
      <div class="card__icons">
         <img src="../../../assets/html_symbol-removebg-preview.png" alt="" >
         <h5>HTML</h5>
      </div>
      <div class="card__icons">
          <img src="../../../assets/js-removebg-preview-removebg-preview.png" alt="">
          <h5>JavaScript</h5>
      </div>
      <div class="card__icons">
          <img src="../../../assets/Java-remove-BG-removebg-preview.png" alt="">
          <h5>Java</h5>
      </div>
    </div>
</div>
</div>
