
.first{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url('../assets/techn-removebg-preview.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.principal{
  background-image: linear-gradient(to right, #DEEBDB, #C1CFD8, #6C87DB);
  width: 100%;
  height: 110%;
}

.line{
  max-width: 100%;
  height: 1px;
  background-color: #8B3DFF;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
 }

 .second{
  margin-top: 3vh;
  padding: 3vh;
 }

@media (max-width: 480px) {

  .first{
  flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 1309px){
  .first{
    flex-direction: column;
    align-items: center;
  }
}
