
.title_principal{
  margin-left: 4%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8C52FF;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 3rem;
}
 .card{
  width: 170px;
  border-radius: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #bdc2fc;
  box-shadow: #8C52FF 0px 0px 10px 0px;
 }

 .icons > img{
  width: 45px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;;

 }

 .icons{
  display: flex;

  flex-direction: row
 }

 a{
  text-decoration: none;
 }

@media (max-width: 480px) {
  .container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 0;
  }

  .card{
    width: 80%;
    margin-bottom: 2rem;
  }

  .icons > img{
    width: 30px;
  }
}
