.title_principal {
  margin-left: 4%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8c52ff;
}

.container {
  min-width: 100%;
  max-width: 100%;
}

.carrossel{
  display: grid;
  grid-auto-flow: column;
  gap: 1.2rem;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 0.5rem;
}

.card {
  width: 170px;
  border-radius: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  padding: 1rem;
  height: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #bdc2fc;
  box-shadow: #8c52ff 0px 0px 10px 0px;
  scroll-snap-align: center;
}

.icons > img {
  width: 45px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;

  flex-direction: row;
}

a {
  text-decoration: none;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-top: 0;
  }

  .card {
    min-width: 87%;
    margin: 2rem;
  }

  .icons > img {
    width: 30px;
  }
}
