
<h2 class="title_principal">Projetos</h2>
<div class="container">
  <div class="card">
    <div class="title_project"><h4>Blog </h4></div>
    <div class="description">
      <h4>tecnologias <br> usadas</h4>
    </div>
    <div class="icons">
      <img src="https://static-00.iconduck.com/assets.00/typescript-plain-icon-256x256-ypojgpyj.png" alt="">
      <img src="../../../assets/baixados-removebg-preview.png" alt="">
      <img src="../../../assets/OIP-removebg-preview.png" alt="">
      <img src="../../../assets/html_symbol-removebg-preview.png" alt="" style="width: 52px;">
    </div>
</div>

  <div class="card">
    <div class="title_project"><h4> portfólio </h4></div>
    <div class="description">
      <h4>tecnologias <br> usadas</h4>
    </div>
    <div class="icons">
      <img src="https://static-00.iconduck.com/assets.00/typescript-plain-icon-256x256-ypojgpyj.png" alt="">
      <img src="../../../assets/baixados-removebg-preview.png" alt="">
      <img src="../../../assets/OIP-removebg-preview.png" alt="">
      <img src="../../../assets/html_symbol-removebg-preview.png" alt="" style="width: 52px;">
    </div>
</div>

  <div class="card">
    <div class="title_project"><h4>landing page </h4></div>
    <div class="description">
      <h4>tecnologias <br> usadas</h4>
    </div>
    <div class="icons">
      <img src="../../../assets/OIP-removebg-preview.png" alt="">
      <img src="../../../assets/html_symbol-removebg-preview.png" alt="" style="width: 50px;">
    </div>
</div>
</div>

<div class="container">
  <div class="card">
    <div class="title_project"><h4>Landing Page </h4></div>
    <div class="description">
      <h4>tecnologias <br> usadas</h4>
    </div>
    <div class="icons">
      <img src="https://static-00.iconduck.com/assets.00/typescript-plain-icon-256x256-ypojgpyj.png" alt="">
      <img src="../../../assets/baixados-removebg-preview.png" alt="">
      <img src="../../../assets/OIP-removebg-preview.png" alt="">
      <img src="../../../assets/html_symbol-removebg-preview.png" alt="" style="width: 52px;">
    </div>
  </div>

  <div class="card">
    <div class="title_project"><h4>DIY-CRYTO <br>(contribuição)</h4></div>
    <div class="description">
      <h4>tecnologias <br> usadas</h4>
    </div>
    <div class="icons">
      <img src="../../../assets/react-removebg-preview.png" alt="">
      <img src="https://static-00.iconduck.com/assets.00/typescript-plain-icon-256x256-ypojgpyj.png" alt="">
    </div>
  </div>

</div>


